<p id="notice"><%= notice %></p>
<%= render 'admin/dashboard/shared/header' %>
<%= render 'admin/dashboard/shared/sidebar' %>

<div class="content-page">
    <div class="content">

<%= render 'form', plugin: @plugin %>

</div>
</div>
