<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <h4 class="page-title float-left">Bienvenue sur votre espace d'administration !</h4>

            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- end row -->

<div class="row">
    <div class="col-xl-4 col-md-9">
        <div class="widget-panel widget-style-2 bg-white">
            <i class="ion-md-contacts text-info"></i>
            <h2 class="m-0" data-plugin="counterup"> @users.count </h2>
            <div style="color:#666F7B">Utilisateurs</div>
        </div>
    </div>
    <div class="col-xl-4 col-md-9">
        <div class="widget-panel widget-style-2 bg-white">
            <i class="ion-md-document text-pink"></i>
            <h2 class="m-0" data-plugin="counterup"> @articles.count </h2>
            <div style="color:#666F7B">Articles</div>
        </div>
    </div>
    <div class="col-xl-4 col-md-9">
        <div class="widget-panel widget-style-2 bg-white">
            <i class="ion-md-text text-purple"></i>
            <h2 class="m-0" data-plugin="counterup"> @comments.count </h2>
            <div style="color:#666F7B">Commentaires</div>
        </div>
    </div>
    
</div> <!-- end row -->
