<footer class="footer_zen">
	<div class="widget-content">
		<img src="https://1.bp.blogspot.com/-RGzts7lcacE/WM--_N_cjvI/AAAAAAAAF9w/AkZvDY_PqZs65eiyZFfTTU7AC1t29QhOACLcB/s1600/featured%2Bcopy%2Bgrey.png">
	</div>
	<div class="footer_wrapper">
		<div class="bottom_menu">
			<span class="menu_item_footer">
				<a href="#">Email</a>
			</span>
			<span class="menu_item_footer">
				<a href="#">Services</a>
			</span>
			<span class="menu_item_footer">
				<a href="#">Social</a>
			</span>
			<span class="menu_item_footer">
				<a href="#">Features</a>
			</span>
		</div>
	</div>
</footer>