<header class="topbar default23">
	<div class="rapper">
		<div class="lefttop">
			<%= render "web/zen/shared/menu"%>
		</div>
		<div class="socialtop">
			<div id="sb-search" class="sb-search">
				<form action="#" method="get" role="search">
					<input id="search" type="search" name="q" class="sb-search-input" placeholder="Search..."
					value="">
					<input type="submit" class="sb-search-submit" value="">
					<span class="sb-icon-search"></span>
				</form>
			</div>
		</div>
	</div>
	<div class="dropdown">
		Menu

		<div class="list_zen">
			<a href="#">Home</a>
			<a href="#">Fashion</a>
			<a href="#">Social</a>
			<a href="#">Features</a>
		</div>
	</div>
</header>
