<div id="head-inner">
	<a href="#" style="display: block">
		<%= image_tag "http://1.bp.blogspot.com/-HXP9EKf_vOg/WM-6uRuGtwI/AAAAAAAAF9o/ICkz6xfbTacm-pejrPV4UrvT5uS7rK5xACK4B/s1600/featured%2Bcopy.png", id: "Header1_headerimg", alt: "Logo site" %>
	</a>
</div>
				