<footer>
    <!-- Copyright-area start -->
  <div class="copyright-area copyright-2">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-xs-12">
          <div class="copyright">
            <p>Mon blog gratuitement avec  <%= link_to root_path do %><%= image_tag 'logo_fonce.png', class:"logo-footer"%><%end%></p>
          </div>
        </div>
      </div>
    </div>
  </div>
    <!-- Copyright-area end -->
</footer>