<%= render 'admin/dashboard/shared/header' %>
<%= render 'admin/dashboard/shared/sidebar' %>

<div class="content-page">
	<div class="content">
		<h2>Merci pour votre paiement de  <strong>5.00 €uros</strong>!</h2>
	</div>
</div>
<%= render 'admin/dashboard/shared/footer' %>