<div class="row">
  <div class="col-12 col-xs-12">
    <div class="card">
      <div class="card-body">
        <h4 class="m-b-30 m-t-0 header-title">Nos ventes</h4> <br/>
        <table class="table table-striped mb-0">
          <thead>
            <tr>
              <th>Produit</th>
              <th>Quantité</th>
              <th>Chiffre d'affaire</th>
            </tr>
          </thead>

          <tbody>
            <% @products.each do |superadmin_product| %>
              <tr>
                <td><%= superadmin_product.title %></td>
                <td><%= superadmin_product.sale %></td>
                <td><%= superadmin_product.sale * superadmin_product.price %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <br/>
      </div>
    </div>
  </div>
</div>
