<section class="section" id="pricing">
		    <div class="container">

		    	<div class="row text-center">
					<div class="col-sm-12">
						<h2 class="title">Votre site en 3 étapes</h2>
						<p class="slogan">On vous l'a dit : il est très simple de créer votre blog sur Polygones. </p>
					</div>
				</div>
				<!-- end row -->

		        <div class="row pt80">
		            <div class="col-lg-10 offset-lg-1">
		                <div class="row">
		                	<div class="col-sm-4">
		                		<div class="price_card text-center">
									<div class="header bg-info">
										<span class="price">Etape 1</span>
										<span class="name">Votre blog</span>
									</div>
									<ul class="price-features">
										<li>Entrez le nom de votre blog</li>
										<li>Choisissez son adresse</li>
										<li>Dites nous en plus sur vous</li>
										<li>Et voilà !</li>
									</ul>
								</div> <!-- end Pricing_card -->
		                	</div> <!-- end col -->

		                	<div class="col-sm-4">
		                		<div class="price_card text-center">
									<div class="header bg-pink">
										<span class="price">Etape 2</span>
										<span class="name">Votre thème</span>
									</div>
									<ul class="price-features">
										<li>Cliquez sur "thèmes"</li>
										<li>Faites votre choix</li>
										<li>Validez</li>
										<li>Et voilà !</li>
									</ul>
									
								</div>
		                	</div> <!-- end col -->

		                	<div class="col-sm-4">
		                		<div class="price_card text-center">
									<div class="header bg-purple">
										<span class="price">Etape 3</span>
										<span class="name">Votre premier article</span>
									</div>
									<ul class="price-features">
										<li>Entrez un titre</li>
										<li>Saisissez votre article</li>
										<li>Configurez-le</li>
										<li>Et voilà !</li>
									</ul>
								</div> <!-- end Pricing_card -->
		                	</div> <!-- end col -->
		                </div> <!-- end row -->
		            </div> <!-- end Col-10 -->
		        </div> <!-- end row -->

				</div>
		    </div> <!-- end Container -->
		</section>
		<!-- END Pricing -->