<section class="section features" id="how">
    <div class="container text-center">

      <div class="row">
        <div class="col-sm-12">
          <h2 class="title">Créez votre blog, sur mesure.</h2>
          <p class="slogan">Avec Polygones, créez un blog qui vous ressemble. Que vous soyez débutant ou professionnel, nous vous proposons l'outil idéal pour créer un blog de qualité. En quelques clics, vous créez et publiez vos articles.</p> 

        </div>
      </div> <!-- End row -->

      <div class="row pt80">
          <div class="col-sm-4">
              <div class="features-2">
                  <%= image_tag 'main/drawing-tablet.png', alt:'' %>
              </div>
              <div>
                  <h5 class="mt-3">Un thème à votre goût</h5>
                  <p>Choisissez entre plusieurs thèmes et créez un blog à votre image. De nouveaux thèmes sont ajoutés régulièrement !</p>
              </div>
          </div> <!-- end col -->

          <div class="col-sm-4">
              <div class="features-2">
                  <%= image_tag 'main/code-window.png', alt:'' %>
              </div>
              <div>
                  <h5 class="mt-3">Simple d'utilisation</h5>
                  <p>Pas besoin de savoir coder pour utiliser Polygones, votre blog est à portée de clic ! Choisissez un thème, écrivez votre article et c'est parti !</p>
              </div>
          </div> <!-- end col -->

          <div class="col-sm-4">
              <div class="features-2">
                  <%= image_tag 'main/clock.png', alt:'' %>
              </div>
              <div>
                  <h5 class="mt-3">Disponible tout de suite</h5>
                  <p>Votre blog est accessible immédiatement après sa création. Tout est simple et rapide : vous n'avez plus qu'à partager vos passions !</p>
              </div>
            </div> <!-- end col -->

        </div> <!-- End row -->
    </div>
</section> 
		<!-- features -->
