<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="navbar-brand-footer">
					<%= image_tag 'main/logo.png', alt:"logo", height:"40" %>
				</div>

			</div>
			
			<div class="col-lg-6">
				<ul class="footer-list list-inline pull-none">
					<li class="list-inline-item">
		<%= link_to "Conditions générales d'utilisation",cgu_path %></li>
					<li class="list-inline-item"><%= link_to "Votre blog en quelques clics.", new_user_registration_path %></li>
				</ul>

			</div>

		</div> <!-- end row -->
	</div> <!-- end container -->
	
</footer>
	    <!-- End Footer -->