<%= render 'web/hurst/shared/header' %>
<div class="wrapper bg-dark-white">

<%= render 'web/hurst/shared/banner' %>
<%= render 'web/hurst/shared/blog' %>
</div>
<%= render 'web/hurst/shared/footer' %>
