<footer id="footer_rage">
  <nav class="navbar navbar-expand-lg">
    <%= image_tag "flower2.jpg" %>
    <p class="signature">Mon blog gratuitement avec  <%= link_to root_path do %><%= image_tag 'admin/dashboard/logo_dark.png', class:"logo-footer"%><%end%></p>

  </nav>
  
</footer>