<div class="blog-page">
	<span class="show_page">
		<a href="">1</a>
	</span>
	<span class="show_page">
		<a href="">2</a>
	</span>
	<span class="show_page">
		<a href="">3</a>
	</span>
	<span class="show_page">
		<a href="">4</a>
	</span>
	<span class="show_page">
		<a href="">Suiv</a>
	</span>
</div>