<section id="section_rage">

	<article class="presentation">
		<%= image_tag "avatar.gif" %>
		<h2>Red & Black</h2>
		<p>Notre thème phare est fait spécialement pour vous faciliter la réalisation de votre blog!</p>
		<p>Gérez vos contenus, vos mises en pages et le tour est joué</p>
	</article>

	<article class="newsletter">
		<h2>newsletter</h2>
		<p>Entrez votre email pour vous inscrire sur ce blog et recevoir des notifications sur les nouveautés</p>
		<form>
  			<div class="form-group">
  				<input type="email" class="form-control"  placeholder="Entrez votre email">
  				<button type="button" class="btn btn-secondary btn-lg btn-block">soumettre</button>
  			</div>
  		</form>
	</article>

	<article class="categories">
		<h2>categories</h2>
		<ul class="list-group">
  			<li class="list-group-item">
  				<a href=""><%= fa_icon "angle-right" %>Test</a>
  			</li>
  			<li class="list-group-item">
  				<a href=""><%= fa_icon "angle-right" %>Essai</a>
  			</li>

		</ul>
	</article>
</section>