<div class="content-page">
    <div class="content">
      <h1>New Cart Product</h1>

<%= render 'form', cart_product: @cart_product %>

<%= link_to 'Back', admin_cart_products_path %>

</div>
</div>
