<p id="notice"><%= notice %></p>

<p>
  <strong>Cart:</strong>
  <%= @cart_product.cart %>
</p>

<p>
  <strong>Product:</strong>
  <%= @cart_product.product %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @cart_product.quantity %>
</p>
